<!-- Slide/Menu Bar -->
  <header class="slide">
    <ul id="navToggle" class="burger slide">
      <li></li><li></li><li></li>
    </ul>
    <a href="./index.html">
      <img src="/assets/img/Logos/Logo-Colored.png" alt="Team Rakz Logo">
    </a>
  </header>
  <nav class="slide">
    <ul>
      <li><a href="#" class="active"><i class="fas fa-home"></i> HOME</a></li>
      <li><a href="#"><i class="fas fa-users"></i> PREPARTORY</a></li>
      <li>
        <a href="./electrical.html" class="menuToggle"><i class="fas fa-bolt"></i> ELECTRICAL <i class="fas fa-angle-down"></i></a>
        <ul>
          <li><a>Year 1 General</a></li>
          <li><a>Year 2 General</a></li>
          <li><a>Year 3 Power</a></li>
          <li><a>Year 3 Computer</a></li>
          <li><a>Year 3 Telecomm</a></li>
          <li><a>Year 4 Power</a></li>
          <li><a>Year 4 Computer</a></li>
          <li><a>Year 4 Telecomm</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="menuToggle"><i class="fas fa-hard-hat"></i> CIVIL <i class="fas fa-angle-down"></i></a>
        <ul>
          <li><a>Year 1 General</a></li>
          <li><a>Year 2 General</a></li>
          <li><a>Year 3 General</a></li>
          <li><a>Year 4 General</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="menuToggle"><i class="fas fa-cog"></i> MECHANICAL <i class="fas fa-angle-down"></i></a>
        <ul>
            <li><a>Year 1: General</a></li>
            <li><a>Year 2: General</a></li>
            <li><a>Year 3: Power</a></li>
            <li><a>Year 3: Production</a></li>
            <li><a>Year 4: Power</a></li>
            <li><a>Year 4: Production</a></li>
          </ul>
        </li>
      </li>
      <li><a href="./contact.html"><i class="fas fa-envelope-open-text"></i> CONTACT</a></li>
    </ul>
  </nav>