<!-- Ace Responsive Menu -->
  <nav>
    <div id="menu-logo">
      <!-- Website Logo -->
      <a href="/index.html">
        <img src="/assets/img/Logos/Logo-Colored-S.png" alt="Team Rakz Logo">
      </a>
    </div>
    <!-- Menu Toggle btn-->
    <div class="menu-toggle">
      <button type="button" id="menu-btn">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Responsive Menu Structure-->
    <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
    <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
      <li {% if page.title contains "Homepage" %}class="active"{% endif %}>
        <a href="/index.html">
          <i class="fas fa-home" aria-hidden="true"></i>
          <span class="title">HOME</span>
        </a>
      </li>
      <li {% if page.title contains "Prepartory" %}class="active"{% endif %}>
        <a href="/prepartory/">
          <i class="fas fa-users" aria-hidden="true"></i>
          <span class="title">PREPARTORY</span>
        </a>
      </li>
      <li {% if page.title contains "Electrical" %}class="active"{% endif %}>
        <a href="javascript:;">
          <i class="fas fa-bolt" aria-hidden="true"></i>
          <span class="title">ELECTRICAL</span>
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </a>
        <!-- Level 2 SubMenu -->
        <ul>
          <li {% if page.title contains "Electrical Year 1" %}class="active"{% endif %}><a href="/electrical/year1.html">Year 1 General</a></li>
          <li {% if page.title contains "Electrical Year 2" %}class="active"{% endif %}><a href="/electrical/year2.html">Year 2 General</a></li>
          <li {% if page.title contains "Electrical Year 3 Power" %}class="active"{% endif %}><a href="/electrical/year3-Power.html">Year 3 Power</a></li>
          <li {% if page.title contains "Electrical Year 3 Computer" %}class="active"{% endif %}><a href="/electrical/year3-computer.html">Year 3 Computer</a></li>
          <li {% if page.title contains "Electrical Year 3 Telecomm" %}class="active"{% endif %}><a href="/electrical/year3-telecomm.html">Year 3 Telecomm</a></li>
          <li {% if page.title contains "Electrical Year 4 Power" %}class="active"{% endif %}><a href="/electrical/year4-power.html">Year 4 Power</a></li>
          <li {% if page.title contains "Electrical Year 4 Computer" %}class="active"{% endif %}><a href="/electrical/year4-computer.html">Year 4 Computer</a></li>
          <li {% if page.title contains "Electrical Year 4 Telecomm" %}class="active"{% endif %}><a href="/electrical/year4-telecomm.html">Year 4 Telecomm</a></li>
        </ul>
      </li>
      <li {% if page.title contains "Civil" %}class="active"{% endif %}>
        <a href="javascript:;">
          <i class="fas fa-hard-hat" aria-hidden="true"></i>
          <span class="title">CIVIL</span>
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </a>
        <!-- Level 2 SubMenu -->
        <ul>
          <li {% if page.title contains "Civil Year 1" %}class="active"{% endif %}><a href="/civil/year1.html">Year 1 General</a></li>
          <li {% if page.title contains "Civil Year 2" %}class="active"{% endif %}><a href="/civil/year2.html">Year 2 General</a></li>
          <li {% if page.title contains "Civil Year 3" %}class="active"{% endif %}><a href="/civil/year3.ytml">Year 3 General</a></li>
          <li {% if page.title contains "Civil Year 4" %}class="active"{% endif %}><a href="/civil/year4.html">Year 4 General</a></li>
        </ul>
      </li>
      <li {% if page.title contains "Mechanical" %}class="active"{% endif %}>
        <a href="javascript:;">
          <i class="fas fa-cog" aria-hidden="true"></i>
          <span class="title">MECHANICAL</span>
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </a>
        <!-- Level 2 SubMenu -->
        <ul>
          <li {% if page.title contains "Mechanical Year 1" %}class="active"{% endif %}><a href="/mechanical/year1.html">Year 1: General</a></li>
          <li {% if page.title contains "Mechanical Year 2" %}class="active"{% endif %}><a href="/mechanical/year2.html">Year 2: General</a></li>
          <li {% if page.title contains "Mechanical Year 3 Power" %}class="active"{% endif %}><a href="/mechanical/year3-power.html">Year 3: Power</a></li>
          <li {% if page.title contains "Mechanical Year 3 Production" %}class="active"{% endif %}><a href="/mechanical/year3-production.html">Year 3: Production</a></li>
          <li {% if page.title contains "Mechanical Year 4 Power" %}class="active"{% endif %}><a href="/mechanical/year4-power.html">Year 4: Power</a></li>
          <li {% if page.title contains "Mechanical Year 4 Production" %}class="active"{% endif %}><a href="/mechanical/year4-production.html">Year 4: Production</a></li>
        </ul>
      </li>
      <li {% if page.title contains "Contacts" %}class="active"{% endif %}>
        <a href="/contacts.html">
          <i class="fas fa-envelope-open" aria-hidden="true"></i>
          <span class="title">CONTACTS</span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- End of Responsive Menu -->