<head>
  <!-- Custom Fonts -->
  <link rel="stylesheet" href="/assets/font/font-awesome/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text'>

  <!-- CSS Spreadsheets -->
  <link rel="stylesheet" href="/assets/css/style.css">

  <!-- SEO Meta Tags -->
  <meta name="author" content="Team Rakz">
  <meta name="description" content="This is the official website for Team Rakz">
  <meta name="keywords" content="Engineering, Education, Lectures, Kafrelsheikh, University,">
  <!-- Boiler Plate -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/img/favicon.png">
  <!-- Page Title -->
  <title>Team Rakz | {{ page.title }}</title>
</head>