<!-- Ace Responsive Menu -->
  <nav>
    <div id="menu-logo">
      <!-- Website Logo -->
      <a href="./index.html">
        <img src="/assets/img/Logos/Logo-Light.png" alt="Team Rakz Logo">
      </a>
    </div>
    <!-- Menu Toggle btn-->
    <div class="menu-toggle">
      <button type="button" id="menu-btn">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Responsive Menu Structure-->
    <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
    <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
      <li>
        <a href="javascript:;">
          <i class="fas fa-home" aria-hidden="true"></i>
          <span class="title">HOME</span>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <i class="fas fa-users" aria-hidden="true"></i>
          <span class="title">PREPARTORY</span>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <i class="fas fa-bolt" aria-hidden="true"></i>
          <span class="title">ELECTRICAL</span>
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </a>
        <!-- Level 2 SubMenu -->
        <ul>
          <li><a>Year 1 General</a></li>
          <li><a>Year 2 General</a></li>
          <li><a>Year 3 Power</a></li>
          <li><a>Year 3 Computer</a></li>
          <li><a>Year 3 Telecomm</a></li>
          <li><a>Year 4 Power</a></li>
          <li><a>Year 4 Computer</a></li>
          <li><a>Year 4 Telecomm</a></li>
        </ul>
      </li>
      <li>
        <a href="javascript:;">
          <i class="fas fa-hard-hat" aria-hidden="true"></i>
          <span class="title">CIVIL</span>
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </a>
        <!-- Level 2 SubMenu -->
        <ul>
          <li><a>Year 1 General</a></li>
          <li><a>Year 2 General</a></li>
          <li><a>Year 3 General</a></li>
          <li><a>Year 4 General</a></li>
        </ul>
      </li>
      <li>
        <a href="javascript:;">
          <i class="fas fa-cog" aria-hidden="true"></i>
          <span class="title">MECHANICAL</span>
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </a>
        <!-- Level 2 SubMenu -->
        <ul>
          <li><a>Year 1: General</a></li>
          <li><a>Year 2: General</a></li>
          <li><a>Year 3: Power</a></li>
          <li><a>Year 3: Production</a></li>
          <li><a>Year 4: Power</a></li>
          <li><a>Year 4: Production</a></li>
        </ul>
      </li>
      <li>
        <a href="javascript:;">
          <i class="fas fa-envelope-open" aria-hidden="true"></i>
          <span class="title">CONTACTS</span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- End of Responsive Menu -->