/* Home Page Styling */
.aboutus {
	margin: 1rem;
}
.aboutus>h2{
	text-align: center;
	font-size: 2rem;
}
.aboutus>p{
	text-align: center;
	font-size: 1rem;
	margin-bottom: 1rem;
}
.aboutus>h3{
	text-align: center;
	font-size: 1.2rem;
	margin: 0 0 0 0.75rem;
}
.aboutus .disclaimer{
	font-size: 0.75rem;
	color: #ff0000;
	text-align: left;
	margin: 0 0 0 0.75rem;
}
.aboutus .tools{
	display: flex;
	flex-direction: row;
}
.aboutus .tool{
	margin: 0.75rem;
	padding: 1rem;
	background-color: #fff;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
}

@media only screen and (max-width: 768px){
  .aboutus .tools{
    flex-direction: column;
  }
}