/* Contact Page Styling */
.contact{
	display: flex;
	align-items: top;
	justify-content: center;
	background: #f4f4f4;
}
.contact h3{
	text-align: left;
}
.contact p{
	font-size: 18px;
	font-style: italic;
	line-height: 27px;
	color: $grey-color;
	margin-bottom: 10px;
}
.contactform{
	flex: 1;
	width: auto;
	padding: 20px;
}
.contactform input[type='text'], 
.contactform input[type='email'],
.contactform select, 
.contactform textarea{
	display: block;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	width: 100%;
	border: none;
	border-radius: 5px;
	padding: 8px 12px;
	margin-bottom: 12px;
}
.contactform input[type='submit']{
	width: 100%;
}
.contactother{
	flex: 1;
	width: auto;
	padding: 20px;
}
.contactother h4{
	font-weight: 900;
	size: 20px;
	color: $primary-color;
}
@media only screen and (max-width: 780px) {
  /* Universal Footer Mobile Styling */
  .contact {flex-direction: column;}
}