/* Importing Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic');
@import url('../font/font-awesome/css/all.min.css');

/* Variables */
$primary-color: #fed136;
$secondary-color: #7851A9;
$alt-secondary-color: #02a5d9;
$dark-color: #333333;
$grey-color: #a0a0a0;
$light-color: #f4f4f4;
$menu-color: #f4f4f4;

body {
  font-family: 'Poppins', 'Roboto', sans-serif;
  color: $dark-color;
}
a {text-decoration: none;}

/* Utility Classes */
.required::after{
	color: #ff0000;
	content: ' *';
}

/*  Content CSS  */
.container {
	overflow: hidden;
	background-color: $light-color;
}

.showcase{
  background: $dark-color url('../img/Covers/Books1.jpg') no-repeat center center/cover;
  height: 75vh;
  color: #fff;
}
.placeholder{
	background: #f4f4f4;
	height: 200vh;
	width: 100%;
}