---
layout: default
title: Prepartory
---
<!-- Main Page Details -->
  <!-- Showcase/Cover Image Section -->
  <section id="prepartory-showcase" class="showcase">
    <h2>Prepartory</h2>
    <h3>2019-2020 Term 1</h3>
  </section>
  <!-- Page Content -->
  <section class="container">{% assign source = site.data.prepartory.Fall-2019.files %}
    {% include query-week.html %}
    {% include query-subject.html subject='Term 1 - Engineering Mathematics 1' %} 
    {% include query-subject.html subject='Term 1 - Engineering Physics 1' %} 
    {% include query-subject.html subject='Term 1 - Mechanics 1' %} 
    {% include query-subject.html subject='Term 1 - Engineering Chemistry' %} 
    {% include query-subject.html subject='Term 1 - Computer Technology' %} 
    {% include query-subject.html subject='Term 1 - Engineering Drawing and Projection' %} 
  </section>