---
layout: default
title: Prepartory
---
<!-- Main Page Details -->
  <!-- Showcase/Cover Image Section -->
  <section id="prepartory-showcase" class="showcase">
    <h2>Prepartory</h2>
    <h3>2019-2020 Term 1</h3>
  </section>
  <!-- Page Content -->
  {% capture currentmonth %}{{'now' | date: '%m'}}{% endcapture %}{% capture february %}{{'February' | date: '%m'}}{% endcapture %}{% capture july %}{{'July' | date: '%m'}}{% endcapture %}
  {% if currentmonth >= february and currentmonth <= july %}
  <section class="container">{% assign source = site.data.prepartory.Data_2019-2020_Term2.files %}
    {% include query-week.html %}
    {% include query-subject.html subject='Term 2 - Engineering Mathematics 1' %} 
    {% include query-subject.html subject='Term 2 - Engineering Physics 1' %} 
    {% include query-subject.html subject='Term 2 - Mechanics 1' %} 
    {% include query-subject.html subject='Term 2 - Engineering Drawing and Projection' %} 
    {% include query-subject.html subject='Term 2 - Production Technology' %} 
    {% include query-subject.html subject='Term 2 - Technical English' %} 
    {% include query-subject.html subject='Term 2 - Engineering History' %} 
  </section>{% else %}
  <section class="container">{% assign source = site.data.prepartory.Data_2019-2020_Term1.files %}
    {% include query-week.html %}
    {% include query-subject.html subject='Term 1 - Engineering Mathematics 1' %} 
    {% include query-subject.html subject='Term 1 - Engineering Physics 1' %} 
    {% include query-subject.html subject='Term 1 - Mechanics 1' %} 
    {% include query-subject.html subject='Term 1 - Engineering Chemistry' %} 
    {% include query-subject.html subject='Term 1 - Computer Technology' %} 
    {% include query-subject.html subject='Term 1 - Engineering Drawing and Projection' %} 
  </section>{% endif %}