---
layout: default
title: Mechanical Year 3
---
<!-- Main Page Details -->
  <!-- Showcase/Cover Image Section -->
  <section id="mechanical-power3-showcase" class="showcase">
    <h2>Mechanical Year 3</h2>
    <h3>Mechanical Power Division</h3>
    <h3>2019-2020 Term 1</h3>
  </section>
  <section class="container">{% assign source = site.data.mechanical.year3power.Fall-2019.files %}
    {% include query-week.html %}
    {% include query-subject.html subject='Term 1 - Mechanical Design' %} 
    {% include query-subject.html subject='Term 1 - Hydraulic Machines' %} 
    {% include query-subject.html subject='Term 1 - Automatic Control' %} 
    {% include query-subject.html subject='Term 1 - Thermal Power Stations 1' %} 
    {% include query-subject.html subject='Term 1 - Combustion theory' %}  
    {% include query-subject.html subject='Term 1 - Introduction to Quality Systems' %}  
  </section>