---
layout: default
title: Mechanical Year 1
---
<!-- Main Page Details -->
  <!-- Showcase/Cover Image Section -->
  <section id="mechanical-general1-showcase" class="showcase">
    <h2>Mechanical Year 1</h2>
    <h3>2019-2020 Term 1</h3>
  </section>
  {% capture currentmonth %}{{'now' | date: '%m'}}{% endcapture %}{% capture february %}{{'February' | date: '%m'}}{% endcapture %}{% capture july %}{{'July' | date: '%m'}}{% endcapture %}
  {% if currentmonth >= february and currentmonth <= july %}
  <section class="container">{% assign source = site.data.mechanical.year1.Data_2019-2020_Term2.files %}
    {% include query-week.html %}
    {% include query-subject.html subject='Term 2 - Engineering Mathematics 2' %} 
    {% include query-subject.html subject='Term 2 - Drawing Machines' %} 
    {% include query-subject.html subject='Term 2 - Materials Testing and Engineering' %} 
    {% include query-subject.html subject='Term 2 - Mechanics 2' %} 
    {% include query-subject.html subject='Term 2 - Thermodynamics 1' %} 
    {% include query-subject.html subject='Term 2 - Engineering Physics 2' %} 
    {% include query-subject.html subject='Term 2 - Writing Technical Reports' %} 
  </section>{% else %}
  <section class="container">{% assign source = site.data.mechanical.year1.Data_2019-2020_Term1.files %}
    {% include query-week.html %}
    {% include query-subject.html subject='Term 1 - Engineering Mathematics 2' %} 
    {% include query-subject.html subject='Term 1 - Drawing Machines' %} 
    {% include query-subject.html subject='Term 1 - Metals' %} 
    {% include query-subject.html subject='Term 1 - Production Engineering 1' %} 
    {% include query-subject.html subject='Term 1 - Structural Theory' %} 
    {% include query-subject.html subject='Term 1 - Electrical and Electronic Engineering' %} 
  </section>{% endif %}