---
layout: default
title: Electrical Year 1
---
<!-- Main Page Details -->
  <!-- Showcase/Cover Image Section -->
  <section id="electrical-general1-showcase" class="showcase">
    <h2>Electrical Year 1</h2>
    <h3>2019-2020</h3>
  </section> 
  {% capture currentmonth %}{{'now' | date: '%m'}}{% endcapture %}{% capture february %}{{'February' | date: '%m'}}{% endcapture %}{% capture july %}{{'July' | date: '%m'}}{% endcapture %}
  {% if currentmonth >= february and currentmonth <= july %}
  <section class="container">{% assign source = site.data.electrical.year1.Data_2019-2020_Term2.files %}
    {% include query-week.html %}
    {% include query-subject.html subject='Term 2 - Engineering Mathematics 2' %} 
    {% include query-subject.html subject='Term 2 - Electrical and Electronic Engineering' %} 
    {% include query-subject.html subject='Term 2 - Logical Circuits' %} 
    {% include query-subject.html subject='Term 2 - Computer programming' %} 
    {% include query-subject.html subject='Term 2 - Electrical Measurements and Instruments' %} 
    {% include query-subject.html subject='Term 2 - Technical Reports Writing' %} 
  </section>{% else %}
  <section class="container">{% assign source = site.data.electrical.year1.Data_2019-2020_Term1.files %}
    {% include query-week.html %}
    {% include query-subject.html subject='Term 1 - Engineering Mathematics 2' %} 
    {% include query-subject.html subject='Term 1 - Electrical and Electronic Circuits' %} 
    {% include query-subject.html subject='Term 1 - Engineering Physics 2' %} 
    {% include query-subject.html subject='Term 1 - Logical Circuits' %} 
    {% include query-subject.html subject='Term 1 - Data Structures and Algorithms' %} 
    {% include query-subject.html subject='Term 1 - Civil Engineering' %} 
    {% include query-subject.html subject='Term 1 - Mechanical Power Engineering' %} 
  </section>{% endif %}