---
layout: default
title: Electrical Year 3 Power
---
<!-- Main Page Details -->
  <!-- Showcase/Cover Image Section -->
  <section id="electrical-power-showcase" class="showcase">
    <h2>Electrical Year 3</h2>
    <h3>Electrical Power and Machines Division</h3>
    <h3>2019-2020 Term 1</h3>
  </section>
  <section class="container">{% assign source = site.data.electrical.year3power.Fall-2019.files %}
    {% include query-week.html %}
    {% include query-subject.html subject='Electrical Machines 1' %} 
    {% include query-subject.html subject='Transmission and Distribution' %} 
    {% include query-subject.html subject='Project Management and Marketing' %} 
    {% include query-subject.html subject='Engineering Mathematics 4' %} 
    {% include query-subject.html subject='Electrical Tests 2' %} 
    {% include query-subject.html subject='Automatic Control' %} 
    {% include query-subject.html subject='Power Electronics' %} 
  </section>