---
layout: default
title: Electrical Year 2
---
<!-- Main Page Details -->
  <!-- Showcase/Cover Image Section -->
  <section id="electrical-general2-showcase" class="showcase">
    <h2>Electrical Year 2</h2>
    <h3>2019-2020</h3>
  </section>
  {% capture currentmonth %}{{'now' | date: '%m'}}{% endcapture %}{% capture february %}{{'February' | date: '%m'}}{% endcapture %}{% capture july %}{{'July' | date: '%m'}}{% endcapture %}
  {% if currentmonth >= february and currentmonth <= july %}
  <section class="container">{% assign source = site.data.electrical.year2.Data_2019-2020_Term2.files %}
    {% include query-week.html %}
    {% include query-subject.html subject='Term 2 - Engineering Mathematics 3' %} 
    {% include query-subject.html subject='Term 2 - Microprocessor Systems' %} 
    {% include query-subject.html subject='Term 2 - Energy Conversion' %} 
    {% include query-subject.html subject='Term 2 - Signal Processing' %} 
    {% include query-subject.html subject='Term 2 - Engineering Economics' %} 
    {% include query-subject.html subject='Term 2 - Electrical and Electronic Tests' %} 
    {% include query-subject.html subject='Term 2 - Systems Dynamics and Control Components' %} 
  </section>{% else %}
  <section class="container">{% assign source = site.data.electrical.year2.Data_2019-2020_Term1.files %}
    {% include query-week.html %}
    {% include query-subject.html subject='Term 1 - Engineering Mathematics 3' %} 
    {% include query-subject.html subject='Term 1 - Automatic Control Systems' %} 
    {% include query-subject.html subject='Term 1 - Electromagnetic Fields' %} 
    {% include query-subject.html subject='Term 1 - Electronic Engineering' %} 
    {% include query-subject.html subject='Term 1 - Industrial Safety' %} 
    {% include query-subject.html subject='Term 1 - Microprocessor Systems' %} 
    {% include query-subject.html subject='Term 1 - Database Management Systems' %} 
  </section>{% endif %}